@import 'tailwindcss';
@import 'theme';
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top, 0px);
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

@utility pl-safe {
  padding-left: env(safe-area-inset-left, 0px);
}

@utility pr-safe {
  padding-right: env(safe-area-inset-right, 0px);
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}
body {
  @apply bg-background text-foreground font-grotesk-mono antialiased;
}
